<%- include('header') %>
  <div class="result">
    <% if(error) { %>
      <%= error %>
    <% } else { %>
       <%= quantidade %>
        reais na cotação
       <%= cotacao %> é igual a: <%= conversao %> dólares
    <% } %>
  </div>
  <%- include('footer') %>